<!-- <form action="/tasks" method="post">
  <label for="description">Description: </label>
  <input type="text" name="task[description]" id="description">

  <label for="done">Done: </label>
  <input type="boolean" name="task[done]" id="done">

  <input type="submit">
</form>
 -->
<%= render 'form' %>
